<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ai.travel.ai_travel_copilot">

    <application
        android:name="${applicationName}"
        android:label="Travel Copilot"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                 <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.supabase.flutter" android:host="login-callback" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
        <meta-data
        
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBmba5ZZERMKsfi_eB5MM9A3molVsEXkMY"/>
    </application>

</manifest>
